<%- include("./partials/header.ejs") %>

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todo App</a>
    </div>
  </nav>

<div class="container mt-5">
    <form action="/add/task" method="post" class="d-flex">
        <input type="text" name="task" class="form-control" placeholder="Enter task">
        <input type="submit" value="Add task" class="btn btn-md btn-primary mx-2">
    </form>

    <ul class="list-group mt-5">
        <% task.forEach(todos => { %>
            <div class="d-flex">
            <li class="list-group-item my-2 w-100"><%= todos.todo %></li>
            <a href="#" class="btn btn-success btn-sm text-center my-2 mx-2" onclick="change('<%= todos._id%>')">Update</a>
            <a href="/delete/task/<%= todos._id %>" class="btn btn-danger btn-sm text-center my-2 mx-2">Delete</a>
        </div>
        <% }) %>
      </ul>
</div>

<%- include("./partials/footer.ejs") %>

<script>
  function change(taskId) {
    const prompt_val = prompt("Enter new value");

    if (prompt_val) {
      // Redirect to the update URL with the new value
      window.location.href = `/update/task/${taskId}?value=${encodeURIComponent(prompt_val)}`;
    }
  }
</script>